<section>
  <article class="centered">
    <h1 class="plume">
      A propos ...
    </h1>
  </article>
</section>
<section>
  <article class="">
    <h2>... de l'auteur</h2>
    <p class="lettrine sealed">

    </p>
  </article>
</section>
