<section class="centered">
    <blockquote class="">
      Holà, étranger!
      Cherches tu la gloire ? l'argent ?
      la reconnaissance ? ... ou l'amour peut être ?
    </h3>
</section>

<section class="centered ornamented">
  <div class="img map fixedBck">
    <h1 class="plume black glowing_yellow">
      Bienvenue dans <br/>
      l'univers de Palamède
    </h1>
  </div>
</section>

<section>
  <article>
    <p class="lettrine ">
      Palamède est un monde pourtant jeune,
      mais déjà riche de ses villes bouillonnantes,
      de ses mers endiablées,
      de ses landes arides que convoitent maintes nations rivales,
      pour y imposer leurs politiques vérolées
      ou une autocratie sanguinaire.
    </p>
  </article>
</section>

<section>
  <article>
    <p class="">
      Palamède est un monde pourtant jeune,
      mais déjà riche de ses villes bouillonnantes,
      de ses mers endiablées,
      de ses landes arides que convoitent maintes nations rivales,
      pour y imposer leurs politiques vérolées
      ou une autocratie sanguinaire.
    </p>
  </article>
</section>

{{#if news}}
  <section class="ornamented">
    <h2>
      Dernières nouvelles du bourg -
      <a href="/news">voir tout</a>
    </h2>

    <div class="scroll_right">
      {{> newsList}}
    </div>
  </section>
{{/if}}
