
{{#if news}}
  <section class="">
    <article class="">

      <h2>
        Oyez Oyez !
      </h2>

      <h3>Voilà les nouvelles de Palamède !</h3>

      <div class="">
        {{> newsList}}
      </div>

    </article>
  </section>
{{/if}}
