<article class="centered">
  <h1 class="plume glowing_yellow">Tu t'es égaré, voyageur ?</h1>
  <h2>(404 page not found)</h2>

  <p class="lettrine">
    Que fais tu dans ces <strong>contrées inexplorées</strong> ?<br/>
    Il n'y a rien à voir ici ! Ouste ! Déguerpis !<br/>
    Avant que je ne mantate quelqu'un<br/>
    pour te bouter le séant hors de ces murs ...
  </p>
  <hr/>
  <p>
    <a href="/">Retourne à l'accueil !</a>
  </p>
</article>
