<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body>
    <section class="app-container">
      <section class="page-container">
        {{{body}}}
      </section>
    </section>
  </body>
</html>
