<!DOCTYPE html>
<html lang="en">
  {{> _head}}
  <body>
    <section class="app-container">
      {{> header}}
      <section class="page-container">
        {{{body}}}
      </section>
      {{> footer}}
    </section>
  </body>
  {{>_scripts}}
</html>
